* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box1 {
  width: 100;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2 {
  width: 70%;
}

.inputBox {
  width: 100%;
  padding: 20px 40px;
}
.inputBox input {
  width: 100%;
  padding: 15px;
  border: 1px solid #555;
  border-radius: 8px;
  font-family: monospace;
  outline: none;
}
.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardWrapper {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 50%;
}

.cardWrapper img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.profileListing{
  padding: 20px 30px;
}
.profileListing li{
    list-style-type: none;
    margin: 10px 0;
    border-bottom:1px solid black ;
    padding: 5px 0;
}